* {
    color: #212427;
}

@media (min-width: 900px) {
    .createPost-container {
        width: 100%;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        border-radius: 16px;
        background-color: #f5f5f5;
        padding: 24px;
        height: fit-content;
    }

    .createPost-info {
        display: flex;
        justify-content: space-evenly;

    }

    .createPost-buttonContainer {
        margin-top: 8px;
        display: flex;
        flex-direction: row-reverse;
    }

    .profile-placeholderImg {
        display: flex;
        justify-content: center;
        width: 36px;
        height: 36px;
        border-radius: 99px;
        background-color: #356d65;
        color: #fefeff;
        align-items: center;
        vertical-align: middle;
        font-size: 16px;
        font-weight: 600;
    }

    .createPost-input {
        width: 100%;
        display: flex;
        text-align: left;
        justify-content: flex-start;
        border: 2px solid #356d65;
        margin-left: 8px;
        border-radius: 8px;
        font-size: 16px;
        font-weight: 200;
        padding: 6px 0px 6px 8px;
    }

    .createPost-button {
        font-size: 16px;
        font-weight: 600;
        padding: 8px 12px 8px 12px;
        border-radius: 8px;
        background-color: #356d65;
        width: fit-content;
        /* border-color: #356d65; */
        /* border: 3px solid #356d65; */
        color: #f5f5f5;
        cursor: pointer;
        align-items: baseline;

    }
}

@media(max-width: 900px) {
    .createPost-container {
        width: 100%;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        border-radius: 16px;
        background-color: #f5f5f5;
        padding: 24px;
        height: fit-content;
    }

    .createPost-info {
        display: flex;
        justify-content: space-evenly;

    }

    .createPost-buttonContainer {
        margin-top: 8px;
        display: flex;
        flex-direction: row-reverse;
    }

    .createPost-buttonContainer {
        margin-top: 8px;
        display: flex;
        flex-direction: row-reverse;
    }

    .profile-placeholderImg {
        display: flex;
        justify-content: center;
        width: 36px;
        height: 36px;
        border-radius: 99px;
        background-color: #356d65;
        color: #fefeff;
        align-items: center;
        vertical-align: middle;
        font-size: 16px;
        font-weight: 600;
    }

    .createPost-input {
        width: 100%;
        display: flex;
        margin-left: 8px;
        border: 2px solid #356d65;
        text-align: left;
        justify-content: flex-start;
        border-radius: 8px;
        font-size: 16px;
        font-weight: 200;
        padding: 6px 0px 6px 8px;
    }

    .createPost-button {
        font-size: 14px;
        font-weight: 500;
        padding: 8px 8px 8px 8px;
        border-radius: 8px;
        border: 2px solid #356d65;
        width: fit-content;
        color: #356d65;
        cursor: pointer;
        align-items: baseline;
    }
}